<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-10 col-12 hero-text">
                    <figure src="images/about.svg" alt="herosection_image"></figure>
                </div>
                {{!-- right side  --}}
                <div class="col-md-10 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE ThE PROFESSIONAL DEVELOPER</h1>
                    <h1>GROW YOUR BUSINESS</h1>
                    <p>Welcome To<span class="bold-style">Asad Habeeb</span>
                    , Your Number One Source For Full Series. We Are Dedicated To
                    You The Very Best Of Work. With A Focus On [Three Characteristics, ie: Dependability,
                    Customer Service And Uniqueness.]</p>
                    <button class="btn-style btn-primary">Read more</button>
                </div>
            </div>
        </div>
    </div>
    </div>